header{
    background: $white;
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: calc(100% - 5px) 5px;
    line-height: 35px;
    font-size: 14px;

    .time{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        .time-current{ padding: 0 10px; }
    }

    .timeline{
        text-align: center;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        background: #000;
    }
}